/* for responsive  */
@media only screen and (max-width: 600px) {
    .main-nav > div.main-nav-menus{
        display: none;
    }
    .main-nav-menus-mobile{
        /* display: flex; */
        flex-grow: 1;
        justify-content: space-around;
        align-self: center;
        padding-right: 5%;
        vertical-align: top;
        padding-left: 3%;
        display: none;
    }
    .responsive-mobile{
        display: none;
    }
  }


  /* test stuff */

  




























