/* for responsive  */
@media only screen and (max-width: 600px) {
    .main-nav > div.main-nav-menus{
        display: none;
    }
    .responsive-mobile{
        display: none;
    }
    #side-menu-button-js{
      outline: none;
        background-color: #ffffff;
        display: block;
      }
  }
  /* test stuff */

    #main-nav-menus-mobile-js{
      display: none;
      align-items: center;
      background-color: black;
      right: 15px;
    }
    .nav-main-itmes-side{
      color: magenta;
      text-decoration: none;
    }
  




























