body{
    background-color: #fff;
}
/* site name a tag */
a.a-site-main{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* end of name a tag */
/* nav bar brand name */
.main-nav {
    display: flex;
    align-items: stretch;
    background-color: #ffffff;
 }
  .main-nav > div {
    background-color: #ffffff;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .main-nav > div.nav-main-text{
    flex-grow: 1;
  }
  .main-nav > div.main-nav-menus{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
  .main-nav > div.other-nav-menus{
    /* margin-left: 395px; */
    width: 250px;
}
.main-nav > div.icon-nav-menus{
  flex: 1;
  margin-right: 250px;
}
/* end of brand nav bar */
/* note hard coded write now will fix later */
/* main nav menu */
.main-nav-menus .nav-main-itmes {
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.main-nav-menus a:hover {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

.main-nav-menus .icon {
  display: none;
}
a.nav-main-itmes{
  font-weight: bold;
  width: 20%;
}









  