@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: #fff;
}
/* site name a tag */
a.a-site-main{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* end of name a tag */
/* nav bar brand name */
.main-nav {
    display: flex;
    align-items: stretch;
    background-color: #ffffff;
 }
  .main-nav > div {
    background-color: #ffffff;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  a.a-site-main{
    font-family: 'Bebas Neue', cursive;    /*font family from google fonts see in the import on line 1  */
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bolder;
  }
  .main-nav > div.nav-main-text{
    flex-grow: 1;
    padding-left: 8%;
  }
  .main-nav > div.main-nav-menus{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-self: center;
    padding-right: 5%;
    vertical-align: top;
    padding-left: 3%;
}
.main-nav > div.other-nav-menus{
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  align-self: center;
  padding-left: 9%;
  padding-right: 5%;
  vertical-align: top;
}
.main-nav > div.icon-nav-menus{
  display: flex;
  flex-grow: 2;
  align-self: center;
  padding-left: 8%;
  padding-right: 20px;
  vertical-align: top;
  margin-right: 2%;
}
/* end of brand nav bar */
/* note hard coded write now will fix later */
/* main nav menu */
.main-nav-menus .nav-main-itmes {
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-left: 15px;
}
.main-nav-menus .nav-main-itmes-none{
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-left: 15px;
}
.other-nav-menus .other-main-itmes {
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin-left: 12px;
}

.main-nav-menus a:hover {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

.other-nav-menus a:hover {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

.main-nav-menus .icon {
  display: flex;
  Justify-content: space-around;
}
a.nav-main-itmes{
  font-weight: bold;
}
a.nav-main-itmes-none{
  font-weight: bold;
}
a.other-main-itmes{
  font-weight: bold;
}
/* drop down menu */
.dropdown {
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: rgb(211, 206, 206);
  z-index: 1;
  padding-bottom: 8%;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: #f9f9f9;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}





  